@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif; 
}


body{
    background-color: hsl(216, 12%, 8%);
    display: grid;
    place-items: center;
}

aside{
    width: 350px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    padding: 25px;
    font-size: 15px;
}

.star{
    background-image: url('./images/icon-star.svg');
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position:center;
    background-color: hsl(216deg 12% 24%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

h1,h3{
    color: white;
}

p{
    color: hsl(217, 12%, 63%);
}

.rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.rate{
    color: hsl(213, 19%, 18%);
    background-color: hsl(216, 12%, 54%);
    border: none;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    padding-inline: 20px;
    padding-block: 15.6px;
}

.rate:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

.rate:hover+.rate{
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.sub{
    color: white;
    background-color: hsl(25, 97%, 53%);
    margin-top: 25px;
    padding-block: 10px;
    padding-inline: 43%;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sub:hover{
    color: hsl(25, 97%, 53%);
    background-color: white;
    cursor: pointer;
}

#thank{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thank .rateValue{
    margin-top: 25px;
    padding-block: 10px;
    padding-inline: 18px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(216deg 12% 24%);
    border-radius: 25px;
}

h3{
    font-size: 1.5em;
    margin-bottom: 0px;
}

#thank p{
    text-align: center;
}